a.card-body.hover-with-bg {
  border-left: 5px solid #72eaff9c;
  background: #ffffff80;
  color: #fff;
  box-shadow: 0 5px 10px #00000050;
  transition: all .5s;
}

a.card-body.hover-with-bg img {
  transition: all 5s;
  border: 2px solid #fff;
}

a.card-body.hover-with-bg:hover img {
  transform: rotate(1080deg);
}

.link-intro {
  color: #293239;
  font-weight: 600;
  font-family: auto;
}

.project-intro {
  color: #293239;
  font-weight: 600;
  font-family: auto;
}

a.card-body.hover-with-bg:hover {
  border-left-width: 15px;
  background-color: #fff;
}

project.card-body.hover-with-bg:hover {
  border-left-width: 15px;
  background-color: #fff;
}

project.card-body.hover-with-bg {
  border-left: 5px solid #72eaff9c;
  background: #ffffff80;
  color: #fff;
  box-shadow: 0 5px 10px #00000050;
  transition: all .5s;
}

project.card-body.hover-with-bg img {
  transition: all 5s;
  border: 2px solid #fff;
}

project.card-body.hover-with-bg:hover img {
  transform: rotate(1080deg);
}